NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-05-24

SANITY_REVALIDATE_SECRET=
SANITY_READ_TOKEN=

RESEND_API_KEY=
CONTACT_RECEIVER_EMAIL=
CONTACT_FROM_EMAIL=Portfolio <onboarding@resend.dev>
NEXT_PUBLIC_SITE_URL=http://localhost:3000
